.heading{
    font-size: 24px;
    font-weight: 500;
    color: rgb(233, 17, 17);
    padding: 24px;
    margin-top: 24px;
    align-items: center;
}
.inputField{
    padding: 24px;
    margin: 40px;
    display: flex;
    justify-content: space-between;
}
.view-button{
    padding: 24px;
    margin-bottom: 30px;
}